<?xml version="1.0"?>
<config>
    <modules>
        <Polvo_Send4>
            <version>0.1.3</version>
        </Polvo_Send4>
    </modules>

    <frontend>
        <layout>
            <updates>
                <polvo_send4_layout module="Polvo_Send4">
                    <file>polvo_send4.xml</file>
                </polvo_send4_layout>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <polvo_send4>
                <class>Polvo_Send4_Block</class>
            </polvo_send4>
            <sales>
                <rewrite>
                    <order_view>Polvo_Send4_Block_Sales_Order_View</order_view>
                </rewrite>
            </sales>
        </blocks>
        <models>

            <polvo_send4>
                <class>Polvo_Send4_Model</class>
            </polvo_send4>

            <sales>
                <rewrite>
                    <quote_address_rate>Polvo_Send4_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>

            <polvo_send4>
                <class>Polvo_Send4_Model</class>
                <resourceModel>polvo_send4_mysql4</resourceModel>
            </polvo_send4>
            <polvo_send4_mysql4>
                <class>Polvo_Send4_Model_Mysql4</class>
                <entities>
                    <send4quote>
                        <table>sfm_send4_quote</table>
                    </send4quote>
                    <send4order>
                        <table>sfm_send4_order</table>
                    </send4order>
                    <send4rates>
                        <table>sfm_send4_rates</table>
                    </send4rates>
                </entities>
            </polvo_send4_mysql4>
        </models>
        <helpers>
            <polvo_send4>
                <class>Polvo_Send4_Helper</class>
            </polvo_send4>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <polvo_send4>
                        <type>singleton</type>
                        <class>polvo_send4/observer</class>
                        <method>send4Pedido</method>
                    </polvo_send4>
                </observers>
            </sales_order_place_after>  

            <sales_order_place_before>
                <observers>
                    <polvo_send4>
                        <type>singleton</type>
                        <class>polvo_send4/observer</class>
                        <method>send4Validacao</method>
                    </polvo_send4>
                </observers>
            </sales_order_place_before>

            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <polvo_send4>
                        <type>singleton</type>
                        <class>polvo_send4/observerordershipping</class>
                        <method>send4Setdot</method>
                    </polvo_send4>
                </observers>
            </checkout_controller_onepage_save_shipping_method>      
        </events>
        <resources>
            <polvo_send4_setup>
                <setup>
                    <module>Polvo_Send4</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </polvo_send4_setup>
            <polvo_send4_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </polvo_send4_write>
            <polvo_send4_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </polvo_send4_read>
        </resources>
    </global>
    <default>
        <carriers>
            <polvo_send4>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>polvo_send4/carrier</model>
                <title>Polvo Send4</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </polvo_send4>
        </carriers>
    </default>
</config>